{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "react",
    "",
    "@hooks",
    "@store",
    "@services",
    "",
    "@layouts",
    "@shared",
    "@containers",
    "",
    "@assets"
  ]
}
